{
	"presets": [
		[
			"@babel/preset-env"
		],
		[
			"@babel/preset-typescript"
		],
		[
			"@babel/preset-react"
		]
	],
	"plugins": [
		["transform-rename-import", 
			{ "original": "^(.+?)\\.scss$", "replacement": "$1.css" }
		],
		"@babel/plugin-transform-classes",
		"@babel/plugin-proposal-class-properties",
		"@babel/plugin-transform-runtime",
		"add-module-exports"
	]
}