/*
 * File: SpaceForceLayout.scss
 * Version: 0.1.0
 * Project: react-test
 * Description: Space Force Layout scss file
 * File Created: Saturday, 9th February 2021 11:01 am
 * Author: Justin Jeffrey (justin.jeffrey@siliconmtn.com)
 * -----
 * Last Modified: Wed Apr 28 2021
 * Modified By: tyler Gaffaney
 * -----
 * Copyright 2021, Silicon Mountain Technologies, Inc.
 */

/** FONT IMPORTS **/

@font-face {
    font-family: "NunitoSans-Regular";
    src: local("NunitoSans-Regular"),
        url("./Fonts/NunitoSans-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "NunitoSans-Bold";
    src: local("NunitoSans-Bold"),
        url("./Fonts/NunitoSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "NunitoSans-ExtraBold";
    src: local("NunitoSans-ExtraBold"),
        url("./Fonts/NunitoSans-ExtraBold.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "NunitoSans-SemiBold";
    src: local("NunitoSans-SemiBold"),
        url("./Fonts/NunitoSans-SemiBold.ttf") format("truetype");
    font-weight: normal;
}

/** FONT PRESETS **/

h1 {
    font-family: NunitoSans-Regular;
    font-size: 48px;
}

h2 {
    font-family: NunitoSans-Regular;
    font-size: 34px;
}

h3 {
    font-family: NunitoSans-Regular;
    font-size: 24px;
}

h4 {
    font-family: NunitoSans-SemiBold;
    font-size: 20px;
}

p {
    font-family: NunitoSans-Regular;
    font-size: 16px;
}

body {
    font-family: NunitoSans-Regular;
    font-size: 14px;
}

.subtitle-1 {
    font-family: NunitoSans-Regular;
    font-size: 16px;
}

.subtitle-2 {
    font-family: NunitoSans-SemiBold;
    font-size: 14px;
}

.caption {
    font-family: NunitoSans-Regular;
    font-size: 12px;
}

.overline {
    font-family: NunitoSans-ExtraBold;
    font-size: 12px;
}

.sl-button {
    font-family: NunitoSans-ExtraBold;
}

/** Colors **/

/* Theme */
.background-theme-light {
    background-color: #29749d;
}

.text-theme-light {
    color: #29749d;
}

.background-theme-main {
    background-color: #034e77;
}

.text-theme-main {
    color: #034e77;
}

.background-theme-dark {
    background-color: #002851;
}

.text-theme-dark {
    color: #002851;
}

/* Greys */
.background-main {
    background-color: #ffffff;
}

.background-secondary {
    background-color: #f5f5f5;
}

.background-light-grey {
    background-color: #eeeeee;
}

.background-medium-grey {
    background-color: #b5b5b5;
}

.outline-medium-grey {
    border: solid 3px #b5b5b5;
}

.background-dark-grey {
    background-color: #616161;
}

.text-dark-grey {
    color: #616161;
}

/* Message Colors */

.background-success {
    background-color: #4caf50;
}

.text-success {
    color: #4caf50;
}

.background-error {
    background-color: #d32f2f;
}

.text-error {
    color: #d32f2f !important;
}

.background-info {
    background-color: #2196f3;
}

.text-info {
    color: #2196f3;
}

/* Template Colors */
.orange {
    background-color: #ff9800;
}

.green {
    background-color: #0a8043;
}

.light-blue {
    background-color: #039be5;
}

.dark-blue {
    background-color: #3f51b5;
}

.purple {
    background-color: #8e24aa;
}

.brown {
    background-color: #775333;
}

.red {
    background-color: #f4511e;
}

/** THEME CSS **/

.nav-link {
    color: white !important;
}

.nav-text:hover {
    text-decoration: underline;
}

.mobile-menu {
    display: flex;
    justify-content: space-between;
}

.mobile-menu > .nav-link > .nav-icon > .nav-icon-svg {
    width: 35px !important;
    height: 35px !important;
}

.logo {
    height: 35px;
}

.mobile-header-center-header-element-0 {
    text-align: center;
}

.question-input-wrapper {
    max-width: 300px;
}

.MuiPaper-elevation4 {
    box-shadow: none !important;
}

.MuiButton-contained {
    box-shadow: none !important;
}

.resubmit-button {
    margin-top: 20px !important;
}

.select-alt-field {
    margin-top: 5px !important;
}

.react-tabs {
	-webkit-tap-highlight-color: transparent;
	width: 100%;
}

.tab-list {
	margin: 0 0 10px;
	padding: 0;
}

.tab-list.default {
    border-bottom: 2px solid #034e77;
}

.tab-list.minimal {
    border-bottom: 2px solid #DDD;
}

.tab-list.center {
	text-align: center;
}
.tab-list.right {
	text-align: right;
}
.tab-list.left {
	text-align: left;
}

.tab.default {
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: -2px;
    position: relative;
    list-style: none;
    padding: 6px 15px;
    cursor: pointer;
    border-color: #ccc;
	border-radius: 10px 10px 0 0;
	font-size: 14px;
}

.tab.minimal {
	display: inline-block;
    border-bottom: none;
    position: relative;
    list-style: none;
	border:none;
	padding: 4px 20px;
	cursor: pointer;
	font-family: NunitoSans-SemiBold;
	font-size: 14px;
	color: #034e77;
}

.tab.disabled.minimal {
	color: #aaa;
	cursor: not-allowed;
}

.tab.selected.minimal {
	border-bottom: 2px solid #034e77;
}

.tab-add {
	display: inline-block;
    border-bottom: 1px solid transparent;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 8px;
    cursor: pointer;
	border-bottom-color: #034e77;
	background-color: #DDD;
	border-radius: 10px 10px 0 0;
}

.tab.selected.default {
    background: #034e77;
    border-color: #034e77;
    color: white;
}

.tab.disabled.default {
	background: transparent;
    border-color: transparent;
	color: #aaa;
	cursor: not-allowed;
}

.react-tabs__tab--disabled {
    color: GrayText;
    cursor: default;
}

.tab:focus {
    box-shadow: 0 0 5px hsl(208, 99%, 50%);
	border-color: hsl(208, 99%, 50%);
    outline: none;
}

.react-tabs__tab:focus:after {
    content: "";
    position: absolute;
    height: 5px;
    left: -4px;
    right: -4px;
    bottom: -5px;
    background: #fff;
}

.react-tabs__tab-panel {
	display: none;
}

.react-tabs__tab-panel--selected {
    display: block;
}
