/*
 * File: SpaceForceLayout.scss
 * Version: 0.1.0
 * Project: react-test
 * Description: Space Force Layout scss file
 * File Created: Saturday, 9th February 2021 11:01 am
 * Author: Justin Jeffrey (justin.jeffrey@siliconmtn.com)
 * -----
 * Last Modified: Tue Nov 30 2021
 * Modified By: Daniel Fong
 * -----
 * Copyright 2021, Silicon Mountain Technologies, Inc.
 */

/** FONT IMPORTS **/

@font-face {
    font-family: "NunitoSans-Regular";
    src: local("NunitoSans-Regular"),
        url("./Fonts/NunitoSans-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "NunitoSans-Bold";
    src: local("NunitoSans-Bold"),
        url("./Fonts/NunitoSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "NunitoSans-ExtraBold";
    src: local("NunitoSans-ExtraBold"),
        url("./Fonts/NunitoSans-ExtraBold.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "NunitoSans-SemiBold";
    src: local("NunitoSans-SemiBold"),
        url("./Fonts/NunitoSans-SemiBold.ttf") format("truetype");
    font-weight: normal;
}

/** FONT PRESETS **/

h1 {
    font-family: NunitoSans-Regular;
    font-size: 48px;
}

h2 {
    font-family: NunitoSans-Regular;
    font-size: 34px;
}

h3 {
    font-family: NunitoSans-Regular;
    font-size: 24px;
}

h4 {
    font-family: NunitoSans-SemiBold;
    font-size: 20px;
}

h5 {
	font-family: NunitoSans-Regular;
	font-size: 1.25rem;
	display: inline-block;
}

p {
    font-family: NunitoSans-Regular;
    font-size: 16px;
}

body {
    font-family: NunitoSans-Regular;
    font-size: 14px;
}

.subtitle-1 {
    font-family: NunitoSans-Regular;
    font-size: 16px;
}

.subtitle-2 {
    font-family: NunitoSans-SemiBold;
    font-size: 14px;
}

.caption {
    font-family: NunitoSans-Regular;
    font-size: 12px;
}

.overline {
    font-family: NunitoSans-ExtraBold;
    font-size: 12px;
}

.sl-button {
    font-family: NunitoSans-ExtraBold;
}

@media only screen and (min-width : 1200px) {

    #single-column-container-metrics { max-width: 2500px; } 
  
  }

/** Colors **/

/* Theme */
/* .background-theme-light {
    background-color: #29749d;
}

.text-theme-light {
    color: #29749d;
}

.background-theme-main {
    background-color: #034e77;
}

.text-theme-main {
    color: #034e77;
}

.background-theme-dark {
    background-color: #002851;
}

.text-theme-dark {
    color: #002851;
}

/* Greys */
/* .background-main {
    background-color: #ffffff;
}

.background-secondary {
    background-color: #f5f5f5;
}

.background-light-grey {
    background-color: #eeeeee;
}

.background-medium-grey {
    background-color: #b5b5b5;
}

.outline-medium-grey {
    border: solid 3px #b5b5b5;
}

.background-dark-grey {
    background-color: #616161;
}

.text-dark-grey {
    color: #616161;
}  */

/* Message Colors */

/* .background-success {
    background-color: #4caf50;
}

.text-success {
    color: #4caf50;
}

.background-error {
    background-color: #d32f2f;
}

.text-error {
    color: #d32f2f !important;
}

.background-info {
    background-color: #2196f3;
}

.text-info {
    color: #2196f3;
}

::-moz-selection { /* Code for Firefox */
  /* background: #b5d8fe;
} */

/* ::selection {
  background: #b5d8fe;
} */ 

/* Template Colors */
/* .orange {
    background-color: #ff9800;
}

.green {
    background-color: #0a8043;
}

.light-blue {
    background-color: #039be5;
}

.dark-blue {
    background-color: #3f51b5;
}

.purple {
    background-color: #8e24aa;
}

.brown {
    background-color: #775333;
}

.red {
    background-color: #f4511e;
} */

/** THEME CSS **/

.nav-link {
    /* color: white !important; */
}

.nav-text:hover {
    text-decoration: underline;
}

.mobile-menu {
    display: flex;
    justify-content: space-between;
}

.mobile-menu > .nav-link > .nav-icon > .nav-icon-svg {
    width: 35px !important;
    height: 35px !important;
}

.logo {
    height: 35px;
}

.mobile-header-center-header-element-0 {
    text-align: center;
}

.question-input-wrapper {
    max-width: 300px;
}

.MuiPaper-elevation4 {
    box-shadow: none !important;
}

.MuiButton-contained {
    box-shadow: none !important;
}

.resubmit-button {
    margin-top: 20px !important;
}

.select-alt-field {
    margin-top: 5px !important;
}

.react-tabs {
	-webkit-tap-highlight-color: transparent;
	width: 100%;
}

.tab-list-scroll-parent {
	overflow:hidden;
	display: flex;
	flex-direction: row;
	white-space: nowrap;
}

.tab-list-wrapper {
	flex-grow:1;
	overflow: hidden;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	transition: background-color 0.2s ease;
	border-radius: 10px 10px 0 0;
	display: flex;
}

.tab-list-wrapper:hover {
	margin:0;
	overflow: auto; 
}

.tab-list-wrapper:active {
	margin:0;
	overflow: auto;
}

.tab-list {
	padding: 0 0 0 0;
	margin-bottom: 0px;
	flex-grow:1;
}

.tab-list:nth-child() {
	background-color: rgba(0,0,0,.1);
}

.tab-list-wrapper.dragging {
	background-color: #29749D;
}

.tab-list.default {
	border-bottom-style: solid;
	border-bottom-width: 2px;
}

.tab-list.center {
	text-align: center;
}
.tab-list.right {
	text-align: right;
}
.tab-list.left {
	text-align: left;
}

.tab.default {
    display: inline-block;
	border-width: 1px;
	border-style: solid;
	border-bottom: 0px;
    position: relative;
    list-style: none;
    cursor: pointer;
	border-radius: 10px 10px 0 0;
	font-size: 14px;
}

.ezform-title {
  text-align: center;
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.tab.dragging {
	background-color: #DDD;
}

.tab.default.draggable {
	padding: 4px 15px 2px 4px !important;
}

.tab.minimal {
	display: inline-block;
    border-bottom: none;
    position: relative;
    list-style: none;
	border:none;
	padding: 4px 20px;
	cursor: pointer;
	font-family: NunitoSans-SemiBold;
	font-size: 14px;
	/* color: #034e77; */
}

.tab.disabled.minimal {
	cursor: not-allowed;
}

.tab.selected.minimal {
	border-bottom-width: 2px;
	border-bottom-style: solid;
}

.tab.default > .tab-inner {
	transition: background-color 0.2s ease;
	padding: 4px 15px;
	border-radius: 10px 10px 0 0;
}

.tab-add {
	display: inline-block;
    position: relative;
    list-style: none;
    padding: 3px 8px 3.5px 8px;
    cursor: pointer;
	border-radius: 10px 10px 0 0;
}

.tab.disabled.default {
	background: transparent;
    border-color: transparent;
	/* color: #aaa; */
	cursor: not-allowed;
}
.tab-placeholder {
	height:33px;
	overflow: hidden;
	display: inline-block;
}

.react-tabs__tab--disabled {
    /* color: GrayText; */
    cursor: default;
}

.tab:focus {
    box-shadow: 0 0 5px hsl(208, 99%, 50%);
	border-color: hsl(208, 99%, 50%);
    outline: none;
}

.react-tabs__tab-panel {
	display: none;
}

.react-tabs__tab-panel--selected {
    display: block;
}

div.centering {
	text-align: center;
	width:100%;
}

.h-divider {
	height:2px;
}

.generic-modal-icon {
	font-size: 35px !important;
	margin-right: 11px;
}

.generic-modal-icon.help {
	/* color: #2196f3 */
}

.generic-modal-icon.info {
	/* color: #2196f3 */
}

.generic-modal-icon.warning {
	/* color: #ff9800 */
}

.generic-modal-icon.error {
	/* color: #d32f2f */
}

.dynamic-label {
	flex-grow: 1;
}

.dynamic-label.text {
	display: inline-block;
}

.dynamic-label.text.other {
	/* color:gray; */
}

.dynamic-label.text.can-edit {
	cursor: pointer;
}

.dynamic-label.text.can-edit:hover {
	border-bottom-style: solid;
	border-width: 0px 0px 2px 0px;
}

.outlined-select > div > input {
	padding: 0px 0px !important;
}

.select-icon {
	margin-right: 4px;
	padding-bottom:1px;
}

.modal-title {
	text-align: center;
	width: 100%;
}

.modal-header {
    border-bottom: 0 none !important;
}

.modal-footer {
    border-top: 0 none !important;
}

.MuiFormControlLabel-labelPlacementTop {
	margin: 0px 10px !important;
}